body {  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#311847), to(#3EB9E6));
  background-image: -webkit-linear-gradient(top, #311847, #3EB9E6);
  background-image: -moz-linear-gradient(top, #311847, #3EB9E6);
  background-image: linear-gradient(to bottom, #311847, #3EB9E6);
}

#root {
  padding: 0;
  margin: 0;  
  height: 100vh;
  width: 100vw;
}

.weather-box {
  min-height: 30vh;
  min-width: 50wh;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center; 
  position: relative;
  font-family: 'Abel', sans-serif;
  animation-name: introduction;
  animation-duration: 1s; 
}

.weather-card {
  min-height: 28vh;
  width: 35wh;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center;
  justify-content: center;  */
  position: relative;
  font-family: 'Abel', sans-serif;  
  padding: 30px;
  /* animation-name: introduction;
  animation-duration: 2s;  */
}

.map-card {
  height: 50%;
  width: 50%;
  /* display: flex;
  flex-direction: column; */
  /* position: relative; */
  font-family: 'Abel', sans-serif;  
}

.Container{
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#311847), to(#3EB9E6));
  background-image: -webkit-linear-gradient(top, #311847, #3EB9E6);
  background-image: -moz-linear-gradient(top, #311847, #3EB9E6);
  background-image: linear-gradient(to bottom, #311847, #3EB9E6); */
}

.App-header {
  --background-color: rgb(25, 114, 102);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes introduction {
  0%{
      bottom: -320px;
      opacity: 0;
      
  }
  100%{
      
      opacity:1;
      bottom: 0px;
  }
}

@keyframes appear {
  0%{
      opacity: 0;
      
  }
  100%{
      opacity:1;
  }
}

.weatherdetail-enter {
  opacity: 0;
  transform: scale(0.9);
}
.weatherdetail-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 100ms, transform 300ms;
}
.weatherdetail-exit {
  opacity: 1;
}
.weatherdetail-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 100ms, transform 300ms;
}

.loading-enter {
  opacity: 0;
  transform: scale(0.9);
}
.loading-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 100ms, transform 300ms;
}
.loading-exit {
  opacity: 1;
}
.loading-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 100ms, transform 300ms;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.halfheight {
    height: 50%;
}