body {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#311847),
    to(#3eb9e6)
  );
  background-image: -webkit-linear-gradient(top, #311847, #3eb9e6);
  background-image: -moz-linear-gradient(top, #311847, #3eb9e6);
  background-image: linear-gradient(to bottom, #311847, #3eb9e6);
}

#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.Container {
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
  display: grid;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#311847), to(#3EB9E6));
  background-image: -webkit-linear-gradient(top, #311847, #3EB9E6);
  background-image: -moz-linear-gradient(top, #311847, #3EB9E6);
  background-image: linear-gradient(to bottom, #311847, #3EB9E6); */
}
.tab-container {
  /* width: 800px;
  height: 600px; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: center;
  justify-content: center;  */
  margin: 0 auto;
  position: relative;
  font-family: "Abel", sans-serif;
  animation-name: introduction;
  animation-duration: 1s;
}

.weather-box {
  /* min-height: 60vh;
  width: 75vw; */
  width: 70vw;
  height: 75vh;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: auto;
  /* flex-direction: column; */
  align-content: center;
  justify-content: center;
  position: relative;
  font-family: "Abel", sans-serif;
  /* border: 2px dashed #76fff8; */
}

.weather-card {
  /* min-height: 60vh;
  width: 75vw; */
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  /* border: 2px solid #850007; */
  /* align-items: center; */
  /* align-content: center; */
  justify-content: center;
  justify-items: center;
}

.weather-search {
  display: grid;
  grid-template-rows: auto;
  /* grid-row-gap: 5px; */
  /* border: 2px solid #4194c4; */
  /* margin: 5px; */
  max-width: 200px;
  /* align-content: center;
  align-items: center; */
  justify-content: center;
  justify-items: center;
  min-height: 100px;
}

.weather-loading {
  max-width: 200px;
  justify-content: center;
  justify-items: center;
  min-height: 100px;
}

.weather-detail {
  display: grid;
  grid-template-columns: 40px 120px 40px;
  grid-column-gap: 20px;
  grid-template-rows: auto;
  max-width: 200px;
  /* border: 2px solid #f7a800; */
  justify-content: center;
  justify-items: center;
  min-height: 100px;
  /* margin: 5px; */
}

.weather-detail-item {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .weather-box {
    /* min-height: 60vh;
    width: 75vw; */
    width: 85vw;
    height: 80vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1.5fr 2fr;
    /* flex-direction: column; */
    align-content: center;
    justify-content: center;
    position: relative;
    font-family: "Abel", sans-serif;
    /* border: 2px dashed #76fff8; */
  }
}

@keyframes introduction {
  0% {
    bottom: -320px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
